{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    [
      "lodash",
      {
        "id": [
          "lodash",
          "semantic-ui-react"
        ]
      }
    ]
  ]
}